<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.malseriesguideextension">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SearchActivity"
            android:label="@string/activity_search_title"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:finishOnTaskLaunch="true"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MALSeriesGuideExtensionReceiver"
            android:description="@string/extension_description"
            android:label="@string/app_name"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.battlelancer.seriesguide.api.SeriesGuideExtension" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MALSeriesGuideExtensionService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>